body {
  height: 100vh;
  background-color: #f8f9fa;
}

#root {
  height: 100vh;
}

.card {
  border: none;
  border-radius: 0.5rem;
}

.btn {
  border: none;
  border-radius: 0.5rem;
}

.number-btn {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  font-size: 2rem;
}
