body {
  height: 100vh;
  background-color: #fcfcfc;
}

#root {
  height: 100vh;
}

input {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: none !important;
  margin-top: 1.2rem !important;
  height: 2.7rem !important;
}

.card {
  border: none;
  border-radius: 0.5rem;
}

.timer-card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border: 3px solid #fcfcfc;
}

.toggler-clock {
  margin-left: 7px;
  margin-top: 6px;
}

.toggler-palette {
  margin-left: 6px;
  margin-top: 6px;
}

.color-fill {
  height: 320px !important;
  width: 320px !important;
  border-radius: 50% !important;
}

.gradient-white {
  background-image: linear-gradient(to right top, #ececec, #ffffff);
}
.gradient-green {
  background-image: linear-gradient(to right top, #40d17c, #72e760);
}
.gradient-yellow {
  background-image: linear-gradient(to right top, #fae362, #d8e63e);
}
.gradient-red {
  background-image: linear-gradient(to right top, #d14576, #e94f4f);
}

.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
}

.btn-light {
  background: #ffffff;
  border: 3px solid #fcfcfc;
}

.btn-light:hover {
  background: #f1f1f1;
  border: 3px solid #f3f3f3;
  scale: 1.02;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.075) !important;
}

.btn-dark {
  background: #505050;
}

.btn-dark:hover {
  background: #606060;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.btn-secondary {
  background: #c1c1c1;
  color: #000000;
}

.btn-secondary:hover {
  background: #b1b1b1;
  color: #000000;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1) !important;
}

.number-btn {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  font-size: 2rem;
}

@media (max-width: 992px) {
}

@media (max-width: 800px) {
  .color-fill {
    height: 240px !important;
    width: 240px !important;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 0.9rem;
  }

  .btn {
    padding: 0.4rem 0.8rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  .toggler-clock {
    margin-left: 10px;
  }

  .toggler-palette {
    margin-left: 6px;
  }

  .color-fill {
    height: 140px !important;
    width: 140px !important;
  }
}
